<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687589436654-imt0ih7qmb1513tnn87vleiq5tq1n271.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687589436654-imt0ih7qmb1513tnn87vleiq5tq1n271</string>
	<key>API_KEY</key>
	<string>AIzaSyB7g6GrfQGpoFoI_khWeyLO-CAvUy6oYxo</string>
	<key>GCM_SENDER_ID</key>
	<string>687589436654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veyselakbalik.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-12430</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-12430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687589436654:ios:1e2827176b8155452157ff</string>
</dict>
</plist>